body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #eb35d5;
    color: #f2eeee;
  }
  
  header {
    background-color: #6e0968;
    color: white;
    padding: 2rem;
    text-align: center;
  }
  
  section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
  }
  
  h2 {
    color: #550663;
  }
  
  .project-card {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    margin: 1rem 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  .project-card{
    color: #333;
  }
  